.vscode
.idea
.env
.venv/

__pycache__/
*.pyc

*.log
*.mp4

# Project-specific
kalu
chota/
build/
server/build/

# ML outputs
outputs/
ml_consumer/outputs/
ml_consumer/testing_data/

# Model files
weights/
*.pt